.bg-img {
    margin: 0;
      padding: 0;
      background-image: url(https://t4.ftcdn.net/jpg/02/62/26/95/360_F_262269504_Mv8IByuQn7fTtsgTzRJsJPwg3q5XMzDZ.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
}

  .sun {
     position: absolute;
  top: 40px;   
  left: 50px; 
      width: 150px;
      height: 150px;
      background-image: url(https://static.vecteezy.com/system/resources/previews/047/463/682/non_2x/cartoon-sun-transparent-background-free-png.png);
      background-size: cover;
      background-position: center;
      animation: spin 10s linear infinite, float 3s ease-in-out infinite;
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    @keyframes float {
      0%, 100% { transform: translateY(0) rotate(0deg); }
      50% { transform: translateY(-20px) rotate(180deg); }
}




 .bird {
    position: absolute;
    top: 25%;
    left: -150px;
    width: 150px;
    animation: flyRight 8s linear infinite;
    transform-origin: center;
  }

    @keyframes flyScale {
    0% {
      left: 10px;
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); /* slightly bigger */
    }
    100% {
      left: calc(100vw - 150px);
      transform: scale(1);
    }
  }

    @keyframes flyRight {
    0% {
      left: 10px;
    }
    100% {
      left: calc(100vw - 150px);
    }
  }


    .ship {
    position: absolute;
    bottom: 200px;
    left: 200px;  
    width: 200px;
    height: auto;
    animation: sail 15s linear infinite;
  }

  @keyframes sail {
    0% {
      left: 200px;
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); 
    }
    100% {
      left: 100vw;
      transform: translateY(0);
    }
  }
