.bg-img {
    margin: 0;
      padding: 0;
      background-image: url(https://t4.ftcdn.net/jpg/02/62/26/95/360_F_262269504_Mv8IByuQn7fTtsgTzRJsJPwg3q5XMzDZ.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 100vh;
}